.skillheading{
    size: 200px;
    text-align: center;
    margin-top: 30px;
    color: rgb(230, 66, 61); 
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white;
  }

 .skills{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 2fr);
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  margin-left: 560px;
  margin-top: 60px;
  width: 500px;
  height: 100px;
}
.image1{
  transition: tranform 0.3 ease, box-shadow 0.3s ease;
}
.image1:hover{
  transform: scale(1.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.image2{
  margin-top: 30px;
  transition: tranform 0.3 ease, box-shadow 0.3s ease;
}
.image2:hover{
  transform: scale(1.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  
}

.image3{
   margin-top: 40px;
  transition: tranform 0.3 ease, box-shadow 0.3s ease;
}
.image3:hover{
  transform: scale(1.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}